* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 13px;
    opacity: 0.95;
}


window#waybar {
    background-color: #0F0F0F;
    border: 2px solid #b2b2b2;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #b2b2b2;
}




