@import ".config/wofi/themes/oxocarbon.css";

/* ::root{ */
/*     --accent: #6B4849; */
/*     --fg: #0c0c0d; */
/*     --base: #afabaa; */
/*     --surface0: #49403F;  */
/*     --surface1: #3C3E41;  */
/*     --surface2: #5A3F40;  */
/* } */

*{
    font-family: Iosevka Nerd Font;
    font-size: 15px;
}

window {
    background-color: @base;
    border: 2px solid @surface2;
    border-radius: 5px;
    /* animation: slideIn 2s ease-in-out both; */
} 
/* Slide In */

#input {
    margin: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid @surface2;
    background-color: @surface0;
    color: @white0;
}

#inner-box {
    background-color: @surface0;
}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: @base;
}

#scroll {
}

#text {
padding: 5px;
color: @white0;
}

#entry {
    border-radius: 5px;
}

#entry:nth-child(even){
    background-color: @surface1;
}

#entry:selected {
    background-color: @accent;
}

#text:selected {
    color: @base;
}
